
@using Auction.Code;
@{
    Layout = "~/Pages/_LayoutClear.cshtml";

    var code = new Logic();
    var Lots = code.Code.GetLots();
    var name = code.Code.GetUserById(1);


    bool IsFinded = false;
    string Username = Request["newName"];
    string Password = Request["newPassword"];
    string Error = "";

    if (IsPost)
    {
        IsFinded = code.CheckUserData(Username, Password);
        if (IsFinded)
        {
            var users = code.Code.GetUsers();
            users = users.Where(x => x.Name == Username);
            users = users.Where(x => x.Password == Password);
            Logic.CurrentUser = users.LastOrDefault();

            FormsAuthentication.SetAuthCookie(Username, createPersistentCookie: true);
            Response.Redirect("~/Pages/Index.cshtml");
        }
        else
        {
            Error = "Didn't find";
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body class="bg-dark">

    <div class="container">
        <form method="post">
            <div>
                <div>
                    <label class="col-form-label text-white">Username:</label>
                    <input class="form-control" type="text" name="newName" style="max-width:300px; min-width:100px;" value="" />
                </div>

                <div>
                    <label class="col-form-label text-white">Password:</label>
                    <input class="form-control" type="password" name="newPassword" style="max-width:300px; min-width:100px;" value="" />
                </div>

                <div class="custom-control custom-switch" style="margin-top:15px">
                    @if (!IsFinded && Error.Length > 0)
                    {
                        <p class="text-danger">ERROR: @Error</p>
                    }
                </div>
                <div style="margin-top:15px">
                    <button class="btn btn-success">Sign up > </button>
                </div>
            </div>
        </form>

    </div>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>