@using Auction.Code;
@{
    Layout = null;

    var code = new Logic();
    var Lots = code.Code.GetLots();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <nav class="navbar navbar-dark bg-info d-flex justify-content-between">
        <a href="~/Pages/Index.cshtml"
           style="background-size:50px; 
            background-image: url('https://cdn0.iconfinder.com/data/icons/market-and-economics-1-2/128/11-512.png'); 
            width: 50px; height: 50px;">
        </a>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
