@using Entity;
@{
    Layout = "~/Pages/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Style/Style1.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">
        <div>
            <p>New Lot</p>
        </div>

        <div>
            <p>images</p>
            <form action="/" method="post">
                <input type="text" name="name" value="" />
                <button></button>
            </form>
        </div>
        <form action="/" method="post">
                <div>
                    <p>dates</p>
                    <p>start:</p>
                    <input type="datetime" name="name" value="" />
                    <p>end:</p>
                    <input type="datetime" name="name" value="" />
                </div>
                <div>
                    <p>start price: </p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
            <button class="btn btn-dark">Submit</button>
        </form>
    </div>
</body>
</html>
