@using Entity;
@using Entity.Classes;
@using Auction.Code;
@{
    Layout = null;

    var code = new Logic();
    var value = Request["id"];
    int.TryParse(value, out int id);
    var Lot = code.Code.GetLotById(id);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body class="bg-dark">
    <section class="jumbotron" style="max-width:500px; margin:auto; padding:20px 30px;">

        <form action="~/Pages/Lot/Logic/Edit.cshtml" method="post">
            <input type="text" name="EditType" value="price" hidden />
            <input type="text" name="id" value="@value" hidden />

            <div class="border-bottom border-secondary mb-3">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount" name="price" value="@Lot.Price">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div>
                    <button class="btn bg-success"> Save </button>
                </div>
            </div>

        </form>
    </section>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Code/Action.js"></script>
</body>
</html>
