@using Entity;
@using Entity.Classes;
@{
    Layout = "~/Pages/_Layout.cshtml";

    var code = new Auction.Code.Logic();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
